body {
  margin: 0px;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: url("../assets/sidebarimg.jpg") no-repeat center;
  background-size: cover;
}

#logobar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  height: 120px;
  padding: 20px;
  font-size: 4rem;
  color: white;
  font-family: 'Garamond', serif;
  background: #00000044;
}

#logoimg {
  max-height: 100%;
}

#imgattrib {
  color: white;
  margin: auto 0px 10px;
  text-align: center;
}