body {
  margin: 0px;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 1 600px;
  background: url("../assets/sidebarimg.jpg") no-repeat center;
  background-size: cover;
}

#logobar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  height: 120px;
  padding: 20px;
  font-size: 4rem;
  color: white;
  font-family: 'Garamond', serif;
  background: #00000044;
}

#logoimg {
  max-height: 100%;
}

#imgattrib {
  color: white;
  margin: auto 0px 10px;
  text-align: center;
}

#main {
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: #EEEEEE;
}

#main > * {
  padding-left: 80px;
  padding-right: 200px;
  color: #333333;
}

#tagline {
  margin-bottom: 2em;
}

#signup {
  display: flex;
  flex-flow: row wrap;
  gap: 10px 80px;
  padding: 20px 200px 20px 80px;
  background-color: #FFFFFF;
}

#signTag {
  flex-basis: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  padding: 10px 0px;
}

.inputWrapper label {
  font-family: sans-serif;
  font-size: 1rem;
  color: #555555;
}

.inputWrapper input {
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  padding: 7px;
  font-size: 1rem;
  color: #333333;
}

#formButton {
  margin: 2rem 80px;
  padding: 0px;
  width: 300px;
  height: 3rem;
  background: #F8D7DD;
  border: 0px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #FFFFFF;
  box-shadow: 2px 4px 4px #88888855;
}